@model VentaProducto.Models.Producto

@{
    ViewBag.Title = "Delete";
}

<h2>Borrar</h2>

<h3>Esta seguro que desea eliminar esto?</h3>
<div>
    <h4>Producto a eliminar: </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-danger btn-sm" /> |
            @Html.ActionLink("Volver a lista", "Index", null, new { @class = "btn btn-warning btn-sm", @role = "button" })
        </div>
    }
</div>
