@model IEnumerable<VentaProducto.Models.Producto>

@{
    ViewBag.Title = "Lista de Productos";
}

<h2>Lista de Productos</h2>

<p>
    @Html.ActionLink("Nuevo Producto", "Create",null, new { @class = "btn btn-success btn-sm" })
</p>
<table class="table">
    <tr>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Acciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
            <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
            <td>@Html.DisplayFor(modelItem => item.Precio)</td>
            <td>@Html.DisplayFor(modelItem => item.Stock)</td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-sm", @role = "button" }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm", @role = "button" })
            </td>
        </tr>
    }
</table>